h2{
    color: white;
}

.main-container{
    margin:  0% 10%;
}

.h2theaters{
    display: flex;
}



.ant-card {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 50%;
}

.ant-card .ant-card-body{
    padding: 0;
    margin: 0;
    border: none;
}

.ant-card .ant-card-body .ant-btn{
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0%;
}